doctype html
html
  head
    include ./../common/head.pug
    link(href='./../../static/css/sign.css' rel='stylesheet')
    script.

      const csrf = '!{token}'
      $(() => {
        console.log(csrf)
        const submit = (e) => {
          let data = {
            email: $('#inputEmail').val()
            //- _csrf: csrf
          }
          $.ajax({
            url: '/web/reset',
            type: 'POST',
            data: data,
            dataType: 'json',
            beforeSend (XMLHttpRequest) {
              XMLHttpRequest.setRequestHeader('csrf-token', csrf)
            },
            success (res) {
              if (res.status === 200) {
                console.log(res)
              } else {
                alert(res.message)
                console.log(res)
                // window.location.reload()
              }
            },
            error (e) {
              if (e.status === 403) {
                window.location.reload()
              }
              console.error(e)
            }
          })
        }
        $('.submit').on('click', (e) => {
          e.preventDefault()
          e.stopPropagation()
          submit()
        })
      })
  body(class='text-center')
    p token #{token}
    form(class='form-signin')
      img(class='mb-4' src='/static/images/logo.png' alt='' width='72' height='72')
      h1(class='h3 mb-3 font-weight-normal') Reset Password
      label(for='inputEmail' class='sr-only') Email address
      input(type='email' value='wangxichao001@gmail.com' id='inputEmail' class='form-control' placeholder='Email address' required autofocus)
      br
      button(class='btn btn-lg btn-primary btn-block', type='btton' class='submit') Reset
      p(class='mt-5 mb-3 text-muted') 2017-2018
