extends ./../common/layout

block content
  h1 should be display more data
  #user
    p token: #{token}
    if user.email
      p Login User: #{user.email}
      button(type='button' class='exit btn btn-primary' ) Exit
    else
      a(href='/login.html') Login Now
      a(href='/register.html' style="margin-left: 20px;") Register
      a(href='/reset.html' style="margin-left: 20px;") Reset Password

  script.
    $(() => {
      const csrf = '!{token}'

      $('.exit').on('click', (e) => {
        e.preventDefault()
        e.stopPropagation()
        $.ajax({
          url: '/web/logout',
          type: 'GET',
          dataType: 'json',
          beforeSend (XMLHttpRequest) {
            XMLHttpRequest.setRequestHeader('csrf-token', csrf)
          },
          success (res) {
            if (res.status === 200) {
              window.location.reload()
            } else {
              console.error(res.message)
            }
          },
          error (e) {
            console.error(e)
          }
        })
      })
    })

