extends ./../common/layout

block content
  h1 should be display more data
  #user
    if user.email
      p Login User: #{user.email}
      button(type='button' class='exit btn btn-primary' ) Exit
    else
      a(href='/login.html') Login Now

  script.
    $(() => {
      $('.exit').on('click', (e) => {
        e.preventDefault()
        e.stopPropagation()
        $.ajax({
          url: 'https://localhost:8000/web/exit',
          type: 'GET',
          dataType: 'json',
          success (res) {
            if (res.status === 200) {
              window.location.href = '/login.html'
            } else {
              console.error(res.message)
            }
          },
          error (e) {
            console.error(e)
          }
        })
      })
    })

